extends contest-render

block update
    hr
    form(method='POST', action = "/contest/add/tasks/" + contest._id )
        #form-group
            label 题面:
            textarea.form-control(name='name', type='text') 
        #form-group
            label score:
            input.form-control(name='score', type='number') 
        #form-group
            label A - description:
            input.form-control(name='A_desc', type='text') 
        #form-group 
            label True / False 
            input.form-control#form-control-checkbox(name="A_ans", type='checkbox')
        #form-group
            label B - description:
            input.form-control(name='B_desc', type='text') 
        #form-group 
            label True / False 
            input.form-control#form-control-checkbox(name="B_ans", type='checkbox')
        #form-group
            label C - description:
            input.form-control(name='C_desc', type='text') 
        #form-group 
            label True / False 
            input.form-control#form-control-checkbox(name="C_ans", type='checkbox')
        #form-group
            label D - description:
            input.form-control(name='D_desc', type='text') 
        #form-group 
            label True / False 
            input.form-control#form-control-checkbox(name="D_ans", type='checkbox')
        input.btn.btn-primary(type='submit', value='Submit')
    