extends layout

block page-nav
    li.nav-item
    a.nav-link(href="/contest")
        | Contest 
    li.nav-item
    a.nav-link(href="/contest/add")
        | create Contest 

block subtitle 
    |考试界面，您可以举办或者参加考试

block content