extends layout

block subtitle
    p   观看图片与弹幕

block script
    script(src="/js/danmu-ws.js")

block page-nav
    li.nav-item
        a.nav-link(href="/picture")
            |Picture
        a.nav-link(href="/danmu")
            |Danmu

block content