extends layout

block page-nav
    li.nav-item
        a.nav-link(href="/contest")
            | Contest 
    li.nav-item
        a.nav-link(href="/file")
            |File
    li.nav-item
        a.nav-link(href="/picture")
            |Picture
    li.nav-item
        a.nav-link(href="/danmu")
            |Danmu
