doctype html
html
    head
        title WEB-ASSIGNMENT
        link(
            rel='stylesheet'
            href='/bower/bootstrap/dist/css/bootstrap.css'
        )
    body
        h1 #{title}
        block content
        br
        hr
        footer
            p web 期末大作业